<section id="app-section">
    <div class="container">
        <img class="app-img" src="images/app_image.svg" alt="">
        <div class="app-content">
            <h2>Download Our App For Any Services:</h2>
            <div class="grid-box">
                <div class="app-content">
                    <p>App Store</p>
                    <img src="images/icons/rating.svg" alt="">
                    <h4>Editors Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <img class="App-Pic" src="images/icons/appstore.svg" alt="">
                <div class="app-content">
                    <p>Google Play</p>
                    <img src="images/icons/rating.svg" alt="">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <img class="App-Pic" src="images/icons/googleplay.svg" alt="">
            </div>
        </div>
    </div>
</section>
@code {

}
