<section id="lightanddark">
    <div class="container">
        <h1>
            <span class="white">Switch Between</span>
            <span class="black">Light and Dark</span>
        </h1>
        <div class="img-container">
            <img src="images/macbook_test.png" alt="Laptop" />
            <div class="arrows">
                <img src="images/arrows_laptop.png" alt="Macbook" />
            </div>
        </div>
    </div>
</section>
@code {

}
