<section id="work-management">
    <div class="container">

        <img class="work-img" src="images/work-management_image.svg" alt="">

        <div class="content">
            <h2>Manage Your work</h2>
            <div class="check-box">
                <img src="images/icons/bx-check-circle.svg" alt="">
                <p>Powerful project management</p>
            </div>
            <div class="check-box">
                <img src="images/icons/bx-check-circle.svg" alt="">
                <p>Transparent work management</p>
            </div>
            <div class="check-box">
                <img src="images/icons/bx-check-circle.svg" alt="">
                <p>Manage work & focus on the most important tasks</p>
            </div>
            <div class="check-box">
                <img src="images/icons/bx-check-circle.svg" alt="">
                <p>Track your progress with interactive charts</p>
            </div>
            <div class="check-box">
                <img src="images/icons/bx-check-circle.svg" alt="">
                <p>Easiest way to track time spent on tasks</p>
            </div>
            <a class="btn-theme-s" href="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
@code {

}
